body{
  background-color: rgb(112, 182, 164);
}

.rps-button{
  height: 180px;
  width: 180px;
  font-size: 33px;
  border-radius: 50%;
  border-style: solid;
  cursor: pointer;
  transition: background-color 0.2s;
}

.reset-button{
  margin-top: 55px;
  background-color: rgb(70, 221, 151);
  font-size: 33px;
  height: 50px;
  width: 130px;
  border-style: solid;
  cursor: pointer;
  transition: background-color 0.2s;
}

.reset-button:hover{
  background-color: rgb(56, 182, 123);
}

.reset-button:active{
  background-color: rgb(43, 150, 100);
}

.rock-button{
  background-color: rgb(126, 218, 161);
  background-image: url('../images/rock.png');
  background-size: cover;
}

.rock-button:hover{
  background-color: rgb(113, 190, 142);
}

.rock-button:active{
  background-color: rgb(94, 155, 117);
}

.paper-button{
  background-color: rgb(121, 165, 216);
  background-image: url('../images/paper.png');
  background-size: cover;
}

.paper-button:hover{
  background-color: rgb(101, 140, 184);
}

.paper-button:active{
  background-color: rgb(86, 118, 155);
}

.scissor-button{
  background-color: rgb(218, 125, 125);
  background-image: url('../images/scissor.png');
  background-size: cover;
}

.scissor-button:hover{
  background-color: rgb(182, 103, 103);
}

.scissor-button:active{
  background-color: rgb(155, 87, 87);
}

.reset-button-div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.rps-div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title-text{
  text-align: center;
  font-size: 43px;
  font-family: monospace;
  margin-top: 23px;
  margin-bottom: 54px;
}

.player-status{
  align-items: center;
  justify-content: center;
}

.winner-status{
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: monospace;
  text-align: center;
  font-size: 40px;
}

.wins{
  display: inline-block;
}

.loses{
  display: inline-block;
}

.draws{
  display: inline-block;
}

.player-history{
  font-size: 33px;
  display: flex;
  font-family: monospace;
  justify-content: space-evenly;
}